<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >


      <form class="login-form">

        <ion-list inset>

          <ion-item>
            <ion-label><ion-icon name="person"></ion-icon></ion-label>
            <ion-input [(ngModel)]="username" name="username" placeholder="username" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label><ion-icon name="lock"></ion-icon></ion-label>
            <ion-input [(ngModel)]="password" name="password" placeholder="password" type="password"></ion-input>
          </ion-item>
          <br/>

          <button  text-center ion-button block  class="rounded" (click)="login()"  color="secondary">Login</button>
          <br/>
          <button text-center ion-button clear (click)="createNew()">New Here? Join now</button>
          <br/>
          <button text-center ion-button clear (click)="reset()">Forgot your password</button>
        </ion-list>




      </form>

</ion-content>



















  <!--
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate inset [@bounceInBottom]="formState">

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                 placeholder="Your email address"
                 [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
                 placeholder="Your password"
                 [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
    <br>
    <button ion-button block type="submit" outline color="secondary" [@fadeIn]="loginState">
      Login
    </button>

  </form>
  <div  [@bounceInBottom]="formState">


  <button ion-button block clear (click)="goToSignup()">
    Create a new account
  </button>

  <button ion-button block clear (click)="goToResetPassword()">
    I forgot my password
  </button>

</div>
-->

