<ion-header>
    <ion-toolbar padding>
        <ion-buttons start>
            <button ion-button icon-only color="royal">
                <ion-icon name="person-add-outline"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Profile</ion-title>

        <ion-buttons end>
            <button ion-button (click)="goToOptions()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
    <ion-row>
      <ion-col width-25>
          <ion-avatar item-left>
              <img class="img-circle" src="http://placehold.it/150x150">
          </ion-avatar>
      </ion-col>

        <ion-col width-25 class="first">
            <p>261 Posts</p>
        </ion-col>

        <ion-col width-25 class="second">
            <p>300 Followers</p>
        </ion-col>

        <ion-col width-25 class="third">
            <p>300 Following</p>
        </ion-col>
  </ion-row>

</ion-grid>
<hr>
    <ion-grid>
        <ion-row *ngFor="let i of rows">
            <ion-col *ngFor="let person of people | slice:(i*3):(i+1)*3" width-33>
                    <img [src]="person.photo" class="img" (tap)="tap()">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<!--
  <ion-card *ngIf="images.imagesArr.length == 0">
 <ion-col width-30 class="button-container" style="text-align: center;">
      26 Posts
    </ion-col>

    <ion-col width-30 class="button-container" style="text-align: center;">
      914 Followers
    </ion-col>

    <ion-col width-70 class="button-container" style="text-align: center; padding-left: 6px">
      310 Following
    </ion-col>
    <ion-card-content>
      No images
    </ion-card-content>

  </ion-card>
  <br>
  <div class="theGallery" text-center *ngIf="images.imagesArr.length > 0">
    <img [src]="image.src" *ngFor="let image of images.imagesArr; let i = index" alt=""
         (press)="presentActionSheet(image.id)" (tap)="openFullSizeImg(image.id)">
  </div>
-->

