<ion-header>
    <ion-toolbar>
        <ion-buttons start>
        <button ion-button icon-only color="royal">
            <ion-icon name="arrow-round-back"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>Following</ion-title>

    </ion-toolbar>
</ion-header>





<ion-content>

<ion-list>

    <ion-item-sliding>

        <button ion-item>
            Item
        </button>

        <ion-item-options side="right">
            <button ion-button color="secondary">Hide</button>
            <button ion-button color="danger">Delete</button>
        </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

        <button ion-item>
            Item
        </button>

        <ion-item-options side="right">
            <button ion-button>Delete</button>
        </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

        <button ion-item>
            Item
        </button>

        <ion-item-options side="right">
            <button ion-button>Delete</button>
        </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

        <button ion-item>
            Item
        </button>

        <ion-item-options side="right">
            <button ion-button>Delete</button>
        </ion-item-options>
    </ion-item-sliding>

</ion-list>

</ion-content>